.container {
    width: 600px;
    height: 300px;
    border: 1px solid #333;
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
}

.item-a {
    background-color: pink;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item-b {
    background-color: skyblue;
}

.item-c {
    background-color: orange;
}